<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myproject.myencryptionapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEncryptionAPP"
        tools:targetApi="31">
        <activity
            android:name=".MainMenuAPPAlt"
            android:exported="false" />
        <activity
            android:name=".DecryptActivityPDF"
            android:exported="false"
            android:label="Document Decryption"
            android:parentActivityName=".MainMenuPDF" />
        <activity
            android:name=".EncryptActivityPDF"
            android:exported="false"
            android:label="Document Encryption"
            android:parentActivityName=".MainMenuPDF" />
        <activity
            android:name=".MainMenuPDF"
            android:exported="false"
            android:label="Document"
            android:parentActivityName=".MainMenuAPPAlt" />
        <activity
            android:name=".DecryptActivityIMG"
            android:exported="false"
            android:label="Image Decryption"
            android:parentActivityName=".MainMenuIMG" />
        <activity
            android:name=".EncryptActivityIMG"
            android:exported="false"
            android:label="Image Encryption"
            android:parentActivityName=".MainMenuIMG" />
        <activity
            android:name=".MainMenuIMG"
            android:exported="false"
            android:label="Image"
            android:parentActivityName=".MainMenuAPPAlt" />
        <activity
            android:name=".MainMenuAPP"
            android:exported="false" />
        <activity
            android:name=".DecryptActivityTXT"
            android:exported="false"
            android:label="Text Decryption"
            android:parentActivityName=".MainMenuTXT" />
        <activity
            android:name=".EncryptActivityTXT"
            android:exported="false"
            android:label="Text Encryption"
            android:parentActivityName=".MainMenuTXT" />
        <activity
            android:name=".MainMenuTXT"
            android:exported="false"
            android:label="Text"
            android:parentActivityName=".MainMenuAPPAlt" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>